In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9657 sha256=d26fc25e23b5322c6867f97089c4a0b1085961353bb299c9d563f4ac3d0c8c11
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [23]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit

In [25]:
df_1 = spark.read.format("csv").option("header", "true").load("grandloto_201912.csv", sep=";")
df_2 = spark.read.format("csv").option("header", "true").load("loto.csv", sep=";")
df_3 = spark.read.format("csv").option("header", "true").load("loto2017.csv", sep=";")
df_4 = spark.read.format("csv").option("header", "true").load("loto_201902.csv", sep=";")
df_5 = spark.read.format("csv").option("header", "true").load("loto_201911.csv", sep=";")
df_6 = spark.read.format("csv").option("header", "true").load("lotonoel2017.csv", sep=";")
df_7 = spark.read.format("csv").option("header", "true").load("nouveau_loto.csv", sep=";")
df_8 = spark.read.format("csv").option("header", "true").load("nouveau_superloto.csv", sep=";")
df_9 = spark.read.format("csv").option("header", "true").load("sloto.csv", sep=";")
df_10 = spark.read.format("csv").option("header", "true").load("superloto2017.csv", sep=";")
df_11 = spark.read.format("csv").option("header", "true").load("superloto_201907.csv", sep=";")

In [26]:
df_1.dtypes

[('annee_numero_de_tirage', 'string'),
 ('jour_de_tirage', 'string'),
 ('date_de_tirage', 'string'),
 ('date_de_forclusion', 'string'),
 ('boule_1', 'string'),
 ('boule_2', 'string'),
 ('boule_3', 'string'),
 ('boule_4', 'string'),
 ('boule_5', 'string'),
 ('numero_chance', 'string'),
 ('combinaison_gagnante_en_ordre_croissant', 'string'),
 ('nombre_de_gagnant_au_rang1', 'string'),
 ('rapport_du_rang1', 'string'),
 ('nombre_de_gagnant_au_rang2', 'string'),
 ('rapport_du_rang2', 'string'),
 ('nombre_de_gagnant_au_rang3', 'string'),
 ('rapport_du_rang3', 'string'),
 ('nombre_de_gagnant_au_rang4', 'string'),
 ('rapport_du_rang4', 'string'),
 ('nombre_de_gagnant_au_rang5', 'string'),
 ('rapport_du_rang5', 'string'),
 ('nombre_de_gagnant_au_rang6', 'string'),
 ('rapport_du_rang6', 'string'),
 ('nombre_de_gagnant_au_rang7', 'string'),
 ('rapport_du_rang7', 'string'),
 ('nombre_de_gagnant_au_rang8', 'string'),
 ('rapport_du_rang8', 'string'),
 ('nombre_de_gagnant_au_rang9', 'string'),
 ('rapport_du_rang9', 'string'),
 ('nombre_de_codes_gagnants', 'string'),
 ('rapport_codes_gagnants', 'string'),
 ('codes_gagnants', 'string'),
 ('numero_jokerplus', 'string'),
 ('devise', 'string'),
 ('_c34', 'string')]

In [27]:
df_11.show(n=5)

+----------------------+--------------+--------------+------------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+------------------------+----------------------+--------------------+----------------+------+----+
|annee_numero_de_tirage|jour_de_tirage|date_de_tirage|date_de_forclusion|boule_1|boule_2|boule_3|boule_4|boule_5|numero_chance|combinaison_gagnante_en_ordre_croissant|nombre_de_gagnant_au_rang1|rapport_du_rang1|nombre_de_gagnant_au_rang2|rapport_du_rang2|nombre_de_gagnant_au_rang3|rapport_du_rang3|nombre_de_gagnant_au_rang4|rapport_du_rang4|nombre_de_gagnant_au_rang5|rapport_du_rang5|nombre_de_gagnant_au_rang6|rapport_du_rang6|nombre_de_gagnant_au_rang7|rapport_du_rang7|nombre_de_gagnant_au_rang8|rapport_du_rang8|nombre_de_gagnant_au_rang9|rapport_du_rang9|nombre_de_codes_gagnants|rapport_codes_gagnants|      codes_gagnants|numero_jokerplus|devise|_c34|
+----------------------+--------------+--------------+------------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+------------------------+----------------------+--------------------+----------------+------+----+
|              20233002|      MARDI   |    14/02/2023|        16/04/2023|     35|     48|     24|     12|     21|            1|                       12-21-24-35-48+1|                         0|        13000000|                         2|          248299|                        53|          3054,7|                       709|          1027,5|                      2836|           122,6|                     31846|            49,1|                     39064|            24,9|                    432402|             8,1|                    539428|               3|                      50|                 20000|C 0056 2023,J 146...|       6 749 297|   eur|null|
|              20233001|      VENDREDI|    13/01/2023|        15/03/2023|     20|     35|      6|     25|     48|            4|                        6-20-25-35-48+4|                         0|        16000000|                         4|          209815|                       114|          2400,1|                       965|          1275,9|                      5043|           116,5|                     45367|            58,3|                     75467|            21,8|                    686474|             8,6|                   1120036|               3|                      50|                 20000|J 3873 3308,A 232...|       4 893 810|   eur|null|
|              20222005|      VENDREDI|    07/10/2022|        07/12/2022|      9|     16|     29|      8|     40|            4|                         8-9-16-29-40+4|                         0|        19000000|                         1|        265725,4|                        40|          2165,7|                       377|            1034|                      1966|            94,6|                     17086|              49|                     27035|            19,2|                    240776|             7,7|                    350575|               3|                      50|                 20000|I 5340 5783,N 251...|       2 175 623|   eur|null|
|              20222004|      VENDREDI|    16/09/2022|        16/11/2022|     48|     36|     30|     34|      2|           10|                       2-30-34-36-48+10|                         0|        13000000|                         0|        221055,6|                        23|         12744,5|                       228|          1422,4|                      1140|           135,8|                     10885|              64|                     17056|            25,4|                    166803|             9,3|                    253954|               3|                      50|                 20000|T 8451 4586,L 668...|       4 781 775|   eur|null|
|              20222003|      VENDREDI|    01/07/2022|        31/08/2022|     39|      2|      1|     26|     48|            9|                         1-2-26-39-48+9|                         0|        13000000|                         2|        188505,5|                        53|          2319,1|                       396|          1396,7|                      2266|           116,5|                     20272|            58,6|                     34019|            21,7|                    305614|             8,7|                    488460|               3|                      50|                 20000|C 7273 0900,I 437...|       3 491 802|   eur|null|
+----------------------+--------------+--------------+------------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+--------------------------+----------------+------------------------+----------------------+--------------------+----------------+------+----+
only showing top 5 rows

In [28]:
df_1 = df_1.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")
df_3 = df_3.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")
df_4 = df_4.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")
df_5 = df_5.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")
df_6 = df_6.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")
df_7 = df_7.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")
df_8 = df_8.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")
df_10 = df_10.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")
df_11 = df_11.select("jour_de_tirage","date_de_tirage","boule_1","boule_2","boule_3","boule_4","boule_5","numero_chance","combinaison_gagnante_en_ordre_croissant")

In [29]:
df_1.show(n=5)

+--------------+--------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+
|jour_de_tirage|date_de_tirage|boule_1|boule_2|boule_3|boule_4|boule_5|numero_chance|combinaison_gagnante_en_ordre_croissant|
+--------------+--------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+
|      DIMANCHE|    25/12/2022|     26|     17|     35|     40|     20|           10|                      17-20-26-35-40+10|
|      VENDREDI|    24/12/2021|     26|     10|      8|     47|     17|           10|                       8-10-17-26-47+10|
|      VENDREDI|    25/12/2020|     15|     48|     33|     30|     35|            5|                       15-30-33-35-48+5|
|      MARDI   |    24/12/2019|     15|     39|     32|     10|     27|            6|                       10-15-27-32-39+6|
+--------------+--------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+

In [30]:
merged_df = df_1.union(df_3).union(df_4).union(df_5).union(df_6).union(df_7).union(df_8).union(df_10).union(df_11)

In [31]:
merged_df.count()

2327

In [32]:
merged_df.dtypes

[('jour_de_tirage', 'string'),
 ('date_de_tirage', 'string'),
 ('boule_1', 'string'),
 ('boule_2', 'string'),
 ('boule_3', 'string'),
 ('boule_4', 'string'),
 ('boule_5', 'string'),
 ('numero_chance', 'string'),
 ('combinaison_gagnante_en_ordre_croissant', 'string')]

In [33]:
from pyspark.sql.functions import col, to_date

merged_df = merged_df.withColumn('date_de_tirage', to_date(col('date_de_tirage'), 'dd/MM/yyyy'))
merged_df = merged_df.withColumn('boule_1', col('boule_1').cast('integer'))
merged_df = merged_df.withColumn('boule_2', col('boule_2').cast('integer'))
merged_df = merged_df.withColumn('boule_3', col('boule_3').cast('integer'))
merged_df = merged_df.withColumn('boule_4', col('boule_4').cast('integer'))
merged_df = merged_df.withColumn('boule_5', col('boule_5').cast('integer'))
merged_df = merged_df.withColumn('numero_chance', col('numero_chance').cast('integer'))

In [34]:
merged_df.count()

2327

In [35]:
merged_df.dtypes

[('jour_de_tirage', 'string'),
 ('date_de_tirage', 'date'),
 ('boule_1', 'int'),
 ('boule_2', 'int'),
 ('boule_3', 'int'),
 ('boule_4', 'int'),
 ('boule_5', 'int'),
 ('numero_chance', 'int'),
 ('combinaison_gagnante_en_ordre_croissant', 'string')]

In [36]:
merged_df.show(n=10)

+--------------+--------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+
|jour_de_tirage|date_de_tirage|boule_1|boule_2|boule_3|boule_4|boule_5|numero_chance|combinaison_gagnante_en_ordre_croissant|
+--------------+--------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+
|      DIMANCHE|    2022-12-25|     26|     17|     35|     40|     20|           10|                      17-20-26-35-40+10|
|      VENDREDI|    2021-12-24|     26|     10|      8|     47|     17|           10|                       8-10-17-26-47+10|
|      VENDREDI|    2020-12-25|     15|     48|     33|     30|     35|            5|                       15-30-33-35-48+5|
|      MARDI   |    2019-12-24|     15|     39|     32|     10|     27|            6|                       10-15-27-32-39+6|
|      LUNDI   |    2019-02-25|      7|     44|     37|     48|     38|            7|                        7-37-38-44-48+7|
|      SAMEDI  |    2019-02-23|      3|     45|     13|      4|     44|            5|                         3-4-13-44-45+5|
|      MERCREDI|    2019-02-20|     25|     29|      8|     34|     15|            1|                        8-15-25-29-34+1|
|      LUNDI   |    2019-02-18|     18|      9|     11|     33|      7|            9|                         7-9-11-18-33+9|
|      SAMEDI  |    2019-02-16|      8|      7|     25|     11|     46|            7|                         7-8-11-25-46+7|
|      MERCREDI|    2019-02-13|     43|     41|     29|     14|      7|            3|                        7-14-29-41-43+3|
+--------------+--------------+-------+-------+-------+-------+-------+-------------+---------------------------------------+
only showing top 10 rows

In [37]:
from pyspark.sql.functions import col
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

# Fusionner toutes les colonnes de boules en une seule colonne
all_numbers = (merged_df.select(col("boule_1").alias("number"))
               .union(merged_df.select(col("boule_2").alias("number")))
               .union(merged_df.select(col("boule_3").alias("number")))
               .union(merged_df.select(col("boule_4").alias("number")))
               .union(merged_df.select(col("boule_5").alias("number"))))

# Calculer la fréquence de chaque numéro
number_frequency = all_numbers.groupBy("number").count().orderBy("number")

# Transformer les données en vecteurs pour utiliser KMeans
assembler = VectorAssembler(inputCols=["number"], outputCol="features")
number_frequency_vec = assembler.transform(number_frequency)

# Utiliser KMeans pour regrouper les numéros en fonction de leur fréquence
kmeans = KMeans(k=5, seed=42, featuresCol="features", predictionCol="cluster")
model = kmeans.fit(number_frequency_vec)
predictions = model.transform(number_frequency_vec)

# Afficher les numéros les plus fréquents dans chaque cluster
for i in range(5):
    print(f"Numéros les plus fréquents dans le cluster {i}:")
    cluster_numbers = predictions.filter(col("cluster") == i).orderBy("count", ascending=False)
    cluster_numbers.show()

Numéros les plus fréquents dans le cluster 0:
+------+-----+--------+-------+
|number|count|features|cluster|
+------+-----+--------+-------+
|    44|  247|  [44.0]|      0|
|    43|  240|  [43.0]|      0|
|    49|  238|  [49.0]|      0|
|    46|  237|  [46.0]|      0|
|    48|  233|  [48.0]|      0|
|    45|  232|  [45.0]|      0|
|    47|  227|  [47.0]|      0|
+------+-----+--------+-------+

Numéros les plus fréquents dans le cluster 1:
+------+-----+--------+-------+
|number|count|features|cluster|
+------+-----+--------+-------+
|    22|  264|  [22.0]|      1|
|    13|  263|  [13.0]|      1|
|    15|  259|  [15.0]|      1|
|    16|  246|  [16.0]|      1|
|    23|  245|  [23.0]|      1|
|    24|  240|  [24.0]|      1|
|    17|  236|  [17.0]|      1|
|    20|  235|  [20.0]|      1|
|    21|  230|  [21.0]|      1|
|    14|  226|  [14.0]|      1|
|    18|  220|  [18.0]|      1|
|    19|  216|  [19.0]|      1|
+------+-----+--------+-------+

Numéros les plus fréquents dans le cluster 2:
+------+-----+--------+-------+
|number|count|features|cluster|
+------+-----+--------+-------+
|     1|  249|   [1.0]|      2|
|     7|  245|   [7.0]|      2|
|     6|  241|   [6.0]|      2|
|     9|  239|   [9.0]|      2|
|     3|  237|   [3.0]|      2|
|     5|  237|   [5.0]|      2|
|    10|  236|  [10.0]|      2|
|     4|  234|   [4.0]|      2|
|    11|  229|  [11.0]|      2|
|     2|  229|   [2.0]|      2|
|    12|  227|  [12.0]|      2|
|     8|  219|   [8.0]|      2|
+------+-----+--------+-------+

Numéros les plus fréquents dans le cluster 3:
+------+-----+--------+-------+
|number|count|features|cluster|
+------+-----+--------+-------+
|    26|  249|  [26.0]|      3|
|    29|  248|  [29.0]|      3|
|    31|  244|  [31.0]|      3|
|    27|  243|  [27.0]|      3|
|    33|  239|  [33.0]|      3|
|    32|  231|  [32.0]|      3|
|    28|  230|  [28.0]|      3|
|    34|  228|  [34.0]|      3|
|    30|  228|  [30.0]|      3|
|    25|  214|  [25.0]|      3|
+------+-----+--------+-------+

Numéros les plus fréquents dans le cluster 4:
+------+-----+--------+-------+
|number|count|features|cluster|
+------+-----+--------+-------+
|    41|  275|  [41.0]|      4|
|    38|  259|  [38.0]|      4|
|    35|  250|  [35.0]|      4|
|    40|  238|  [40.0]|      4|
|    37|  236|  [37.0]|      4|
|    36|  235|  [36.0]|      4|
|    42|  219|  [42.0]|      4|
|    39|  213|  [39.0]|      4|
+------+-----+--------+-------+

In [40]:
from pyspark.sql.functions import array, col, lag
from pyspark.sql.window import Window
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

# Fusionner toutes les colonnes de boules en une seule colonne et créer une colonne de labels avec les numéros du prochain tirage
window = Window.orderBy("date_de_tirage")
merged_df = merged_df.withColumn("next_numbers", lag(array("boule_1", "boule_2", "boule_3", "boule_4", "boule_5"), -1).over(window))
merged_df = merged_df.filter(col("next_numbers").isNotNull())

# Transformer les colonnes de boules en un vecteur de features
assembler = VectorAssembler(inputCols=["boule_1", "boule_2", "boule_3", "boule_4", "boule_5"], outputCol="features")
#merged_df = assembler.transform(merged_df)

# Diviser les données en ensembles d'apprentissage et de test
train_data, test_data = merged_df.randomSplit([0.8, 0.2], seed=42)

# Fonction pour entraîner un modèle de régression logistique pour un numéro spécifique
def train_logistic_regression_model(train_data, number):
    # Créer une colonne de labels binaires pour indiquer si un numéro est présent dans le prochain tirage
    train_data = train_data.withColumn("label", array_contains(col("next_numbers"), number).cast("integer"))

    # Entraîner le modèle de régression logistique
    lr = LogisticRegression(featuresCol="features", labelCol="label", maxIter=10)
    model = lr.fit(train_data)

    return model

# Entraîner un modèle de régression logistique pour chaque numéro (1 à 50 pour l'exemple)
models = {number: train_logistic_regression_model(train_data, number) for number in range(1, 51)}

# Fonction pour prédire la probabilité d'un numéro spécifique en utilisant le modèle correspondant
def predict_probability(features, number):
    model = models[number]
    probability = model.predictProbability(features)[1]
    return float(probability)

predict_probability_udf = udf(predict_probability, FloatType())

# Préparer les données de test pour la prédiction
test_data = test_data.withColumn("features_next", col("next_numbers"))

# Prédire les probabilités pour chaque numéro et ajouter les résultats au DataFrame
for number in range(1, 51):
    test_data = test_data.withColumn(f"prob_{number}", predict_probability_udf("features_next", number))

test_data.show()

NameError: ignored